.container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2em;
    border-bottom:5px solid pink;
    width:400px;
    text-align:center;
    border-right : 5px solid pink;
    box-shadow: 5px 5px 5px #888;
}
img {
    width:450px;
    height:300px;
    margin:10px;
    transition:all 1s;
}
img:hover {
    transform:scale(1.1)
}